<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 群組及權限報表 -->
	<!-- <bean id="GroupAndAuthorizationExcelView" class="com.claridy.facade.view.GroupAndAuthorizationExcelView"></bean> -->

</beans>